section{
margin: auto;
}
section h1{
        margin-top: 80px;
        font-size: 30pt;
        font-family: 'Helvetica';
        font-weight: 200;
}
.contener{
        display: flex;
        width: 850px;
        height: 250px;
}
.contener img{
        width: 450px;
        background-size: covers;
}
.contener p{
padding-block: 80px;
font-size: 15pt;
font-family:'Helvetica' ;
font-weight: 200;
}